// Brand and Toggle
nav(id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top")
  .container
    .navbar-header.page-scroll
      button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
        span(class="sr-only") Toggle Navigation
        i(class="fa fa-bars") MENU
      a(class="navbar-brand page-scroll" href="#page-top") Monument Print Co.

    
    div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
      ul(ul class="nav navbar-nav navbar-right")
        li(class="hidden")
          a(href="#page-top")
        li
          a(class="page-scroll" href="#portfolio") Portfolio
        li
          a(class="page-scroll" href="#services") Services
        li
          a(class="page-scroll" href="#about") About
        li
          a(class="page-scroll" href="#contact") Contact
