.color-qty-input {

}



.quote-total {
  font-size: 3em;
}

#quote-modal-body {
  display: flex;
  flex-direction: column;
}

select {
  width: 100%;
  max-width: 122px;
  height: 40px;
  background-color: #bdc3c7;
  color: #fff;
  font-size: 1.2em;
  padding: .5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
}

option {
  color: #fff;
}

.quoteform {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 50px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.color-qty-type {
  font-size: 1.5em;
  margin-bottom: 10px;
}

input.test-input,
input.quote-count{
  width: 25%;
  background-color: white;
  padding: 20px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  color: #34495e;
  font-size: 3em;
  font-weight: 700;
  text-align: center;
}

input:focus {
  border-bottom: solid 2px #969696;
  outline: none;
}

::-webkit-input-placeholder {
  color: #ecf0f1;
  opacity: .8
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
